@import '_colores.scss';
@import '_var.scss';
@import '_margin.scss';
@import '_responsive.scss';
@import '_zindex.scss';
// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: $header-height 0 0 0;
    font-family: $body-font;
    font-size: $normal-font-size;
    color: $secondary-color;
}

h1,h2,p{
    margin: 0;  
}


ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block; 
}

// class
.section-title{
    position: relative;
    font-size: $h2-font-size;
    color: $primary-color;
    margin-top: $mb-2;
    margin-bottom: $mb-4;
    text-align: center;

    &::after{
        position: absolute;
        content: '';
        width: 64px;
        height: .18rem;
        left: 0;
        right: 0;
        margin: auto;
        top: 2rem;
        background-color: $primary-color;
    }
}

.section{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

// layout

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-fixed;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

.flx{
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    height: 18vh;
    justify-content: space-between;
    margin-left: $mb-2;
    margin-right: $mb-2;    
}
// nav
.nav{
    height: $header-height;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: $font-semi;

    &__menu{
        @media screen and (max-width:768px)
        {
            position: fixed;
            top: $header-height;
            right: -100%;
            width: 80%;
            height: 100%;
            padding: 2rem;
            background-color: $secondary-color;
            transition: .5s;
        
        }
    }

    &__item{
        margin-bottom: $mb-4;
    }

    &__link{
        position: relative;
        color: #fff;
    
        &:hover{
            position: relative;
    
            &::after{
                position: absolute;
                content: '';
                width: 100%;
                height: .18rem;
                left: 0;
                top: 2rem;
                background-color: $primary-color;
            }
        }
    }
    

    &__myname{
        color: $secondary-color;
    }


    &__toggle{
        color: $secondary-color;
        font-size: 1.5rem;
        cursor: pointer;
        // border: 1px solid red;
    }



    // active menu
    .active::after{
        position: absolute;
        content: '';
        width: 100%;
        height: .18rem;
        left: 0;
        top: 2rem;
        background-color: $primary-color;    
    }


    // show/hide menu
    .slide{
        right: 0;
    }
}
